/* Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%) */

:root {
    --blue-100: hsl(243, 100%, 93%);
    --blue-200: hsl(229, 7%, 55%);
    --blue-300: hsl(228, 56%, 26%);
    --blue-400: hsl(229, 57%, 11%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", serif;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: var(--blue-400);
}

.background {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -60px;
    z-index: -1;
}
.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
    margin: 0 auto;
    z-index: 1;

}

.card-1 {
    width: 40%;
    padding: 14px;
    background-color: var(--blue-300);
    align-items: start;
}

.card-2{
    width: 60%;
    padding: 20px;
    background-color: var(--blue-300);
    text-align: start;
    border-radius: 12px;
}

.progress-bar {
    margin-top: 12px;
}

.progress {
    width: 100%;
    height: 12px;
    background-color: var(--blue-400);
    border-radius: 12px;
}

.progress-fill {
    width: 81.5%;
    height: 100%;
    background-color: linear-gradient(to right, hsl(6, 100%, 80%) to hsl(335, 100%, 65%));
}

.images {
    padding-top: 6px;
}


.doc {
   
    background-color: var(--blue-400);
}

p {
    color: var(--blue-200);
    font-size: 14px;
    font-weight: 400;
}

.strong {
    color: var(--blue-100)
}